name: Auto Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Package build
        run: zip -r app.zip .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: app.zip
